<%if !logged_in?%>
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle">
      <div class="auth-box">
        <div class="left">
          <div class="content">
            <div class="logo text-center">
              <%=image_tag 'logo-dark.png'%>
            </div>
            <div col-md-12 id="login-buttons">
             <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#teacherLoginModal">Login as teacher</button>
             or
             <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#studentLoginModal">Login as student</button>
             <%=render 'sessions/teacher_login_form'%>
             <%=render 'sessions/student_login_form'%>
           </div>
          </div>
        </div>
        <div class="right">
          <div class="overlay"></div>
          <div class="content text">
            <h1 class="heading">BKTAS</h1>
            <p>Bach Khoa teaching assistant system</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<%elsif current_user.class == Student%>
  <%=render 'students/home'%>
<%else%>
  <%=render 'teachers/home'%>
<%end%>
