<tr>
	<td><%=learning.student.name%></td>
	<td><%=learning.student.std_id%></td>
	<td><%=get_process_point(learning) %></td>
	<td><%=text_field_tag "term_point[#{learning.id}]", learning.term_point, class:'form-control'%></td>
	<td><%=get_avg_point(learning)%></td>
<tr>