<%=render 'teachers/sidebar'%>
<div class="main">
  <%=render 'layouts/header', notifications: current_user.notifications.where(read: false)%>
  <div class="main-content">
    <%= render 'score_tables/nav_bar' %>
		<h1>Nhập điểm
		<%= link_to sclass_learnings_path(@sclass, format: "xls"), title: "Xuất ra file excel" do%>
			<i class="fa fa-file-excel-o" aria-hidden="true"></i>
		<%end%>
		</h1>
			<table class="table table-hover" style="width:100%" border="1" margin="center">
			 <tr>
				  <td><b>Sinh viên</b></td>
				  <td><b>MSSV</b></td>
			  	<td><b>Điểm quá trình</b></td>
				  <td><b>Điểm cuối kì</b></td>
				  <td><b>Điểm trung bình</b></td>
				</tr>
				<%=form_tag sclass_update_point_path(@sclass), method: 'POST' do%>
					<%@learnings.each do |learning|%>
				 		<%=render learning%>
					<%end%>
			</table>
					<%=submit_tag 'Cập nhật', class: 'btn btn-primary'%>
				<%end%>
  </div>
  <footer>
  </footer>
</div>