<%=render 'students/sidebar'%>
<div class="main">
  <%=render 'layouts/header', notifications: current_user.notifications.where(read: false)%>
  <div class="main-content">
  	<h1>Bảng điểm môn <%=@sclass.subject.name%></h1>
	<table class="table table-hover" style="width:100%" border="1" margin="center">
	<tr>
		<td>Loại điểm</td>
		<td>Điểm</td>
		<td>Ghi chú</td>
	</tr>
	<%@points.each do |point|%>
		<%= render 'point', point: point %>
	<%end%>
	<tr>
		<td><b>Điểm quá trình</b></td>
		<td><%= get_process_point(@learning)%></td>
		<td></td>
	</tr>

	<tr>
		<td><b>Điểm cuối kì</b></td>
		<td><%= @learning.term_point%></td>
		<td></td>
	</tr>

	<tr>
		<td><b>Điểm trung bình</b></td>
		<td><%= get_avg_point(@learning)%></td>
		<td></td>
	</tr>
	</table>
  </div>
  <footer>
    
  </footer>
</div>