<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-sm-2 sidebar">
			<%=render 'students/sidebar' %>
		</div>
		<div class="col-sm-9 main">
		<h1>Bảng điểm môn <%=@sclass.subject.name%></h1>
			<table class="table table-hover" style="width:100%" border="1" margin="center">
			<tr>
				<td>Loại điểm</td>
				<td>Điểm</td>
				<td>Ghi chú</td>
			</tr>
			<%@points.each do |point|%>
				<%= render 'point', point: point %>
			<%end%>
			<tr>
				<td><b>Điểm quá trình</b></td>
				<td><%= get_process_point(@learning)%></td>
				<td></td>
			</tr>

			<tr>
				<td><b>Điểm cuối kì</b></td>
				<td><%= @learning.term_point%></td>
				<td></td>
			</tr>

			<tr>
				<td><b>Điểm trung bình</b></td>
				<td><%= get_avg_point(@learning)%></td>
				<td></td>
			</tr>
			</table>
		</div>
	</div>
</div>