<%=render 'students/home_sidebar'%>
<div class="main">
  <%=render 'layouts/header', notifications: current_user.notifications.where(read: false)%>
  <div class="main-content">
    <%= link_to '#',id:'month-view-icon', title:'lịch tháng' do%>
      <i class="fa fa-calendar" aria-hidden="true"></i>
    <%end%>
    <%= link_to '#',id: 'week-view-icon', title:'lịch tuần' do%>
      <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
    <%end%>
    <div id="month-view-area">
      <%= render 'teachers/time_month_view', schedules: @schedules%>
    </div>
    <div class="hidden" id="week-view-area">
      <%= render 'teachers/time_week_view', schedules: @schedules%>
    </div>
  </div>
  <footer>
    
  </footer>
</div>
<script type="text/javascript">
  $('#month-view-icon').on('click', function(){
    if($('#month-view-area').hasClass('hidden')){
      $('#week-view-area').addClass('hidden');
      $('#month-view-area').removeClass('hidden');
    }
  });
</script>
<script type="text/javascript">
  $('#week-view-icon').on('click', function(){
    if($('#week-view-area').hasClass('hidden')){
      $('#month-view-area').addClass('hidden');
      $('#week-view-area').removeClass('hidden');
    }
  });
</script>