<ul class="nav nav-sidebar">
	<li><%=link_to 'Tổng quan', @sclass %></li>
  <li><%=link_to 'Lịch học', sclass_schedules_path(@sclass) %></li>
  <li><%=link_to 'Tài liệu', sclass_documents_path(@sclass) %></li>
  <li><%=link_to 'Nhóm', sclass_groups_path(@sclass) %></li>
  <li><%= link_to 'Xem điểm' '#'%></li>
</ul>