<div class="container">
<%= render 'header' %>
<div class="row" style="padding-top: 50px">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-headline">
                <div class="panel-heading">
                  <h3 class="panel-title">Đổi mật khẩu</h3>
                  <p class="panel-subtitle"><%= DateTime.now%></p>
                </div>
                <div class="panel-body">
                  <%= form_tag admin_change_password_path do%>
                    <%= label_tag :old_password, 'Mật khẩu cũ'%>
                    <%= password_field_tag :old_password, nil, class: 'form-control' %>

                    <%= label_tag :new_password, 'Mật khẩu mới'%>
                    <%= password_field_tag :new_password, nil, class: 'form-control' %>

                    <%= label_tag :new_password_confirmation, 'Xác nhận mật khẩu mới' %>
                    <%= password_field_tag :new_password_confirmation, nil, class: 'form-control'%>
                  <%= button_tag 'submit', class: 'btn btn-primary'%>
                  <%end%>
                </div>
              </div>
    </div>
  </div>
</div>
