	<tr>
		<td><%=group.name%></td>
		<td><%=group.students.count%></td>
		<td><%=group.topic%></td>
		<td><%= group.point%></td>
		<td><%=link_to 'View details', sclass_group_path(@sclass, group) %>
	</tr>