	<tr>
		<td><%=group.name%></td>
		<td><%=group.students.count%></td>
		<td>
				<%=group.reports.where!(file: nil).count%>/<%=group.sclass.topics.count %>
		</td>
		<td><%= group.point%></td>
		<td><%=link_to 'chi tiết', sclass_group_path(@sclass, group) %>
	</tr>