	<tr>
		<td><%=group.name%></td>
		<td><%=group.students.count%></td>
		<td><%= group.topic %></td>
		<td><%= group.point%></td>
		<td><%=link_to 'chi tiết', sclass_group_path(@sclass, group) %>
	</tr>