<%= render current_user.class == Teacher ? 'teachers/sidebar' : 'students/sidebar' %>
<div class="main">
  <%=render 'layouts/header', notifications: current_user.notifications.where(read: false)%>
  <div class="main-content">
    <%if @groups.empty? && current_user.class == Student%>
      <h1>Bạn chưa được phân nhóm</h1>
    <%else%>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><%= link_to 'Danh sách nhóm', sclass_groups_path(@sclass) %></li>
      <li><%= link_to 'Danh sách bài tập nhóm', sclass_topics_path(@sclass) %></li>
    </ul>
    <h1>Quản lý nhóm</h1>
      <table class="table table-hover" style="width:100%" border="1" margin="center">
        <tr>
          <td><b>Tên nhóm</b></td>
          <td><b>Số thành viên</b></td>
          <td><b>Đề tài/Bài tập lớn</b></td>
                    <td><b>Điểm</b></td>
          <td><b>Tools</b></td>
        </tr>
        <% @groups.each do |group|%>
          <%=render group %>
        <% end %>
     </table>
   <%=render 'form', group: Group.new%>
   <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#groupModal">Tạo nhóm</button>
    <%end%>
  </div>
  <footer>
  </footer>
</div>