  <!-- Modal -->
<div class="modal fade" id="pcModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Thêm thành phần điểm</h4>
      </div>
      <div class="modal-body">
        <%=form_for @sclass.score_components.build, url: sclass_score_components_path(@sclass) do |f|%>
          <%=f.label :content, "Nội dung"%>
          <%= f.text_field :content, class: 'form-control' %>

          <%=f.label :ratio, "Trọng số"%>
          <%=f.number_field :ratio, min: 1, max:100, class: 'form-control' %>

          <%=f.submit "Submit", class:"btn btn-primary"%>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
