<%= render current_user.class == Teacher ? 'teachers/sidebar' : 'students/sidebar' %>
<div class="main">
  <%=render 'layouts/header', notifications: current_user.notifications.where(read: false)%>
  <div class="main-content">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title"><%= @sclass.course.name%> - <%=@sclass.sclass_id%></h3>
			</div>
			<div class="panel-body">
			<table class="table table-hover" style="width:100%" border="1" margin="center">
			 <tr>
				  <td><b>Ngày</b></td>
				  <td><b>Bắt đầu</b></td>
			  	<td><b>Kết thúc</b></td>
				  <td><b>Nội dung</b></td>
				  <td><b>Công cụ</b></td>
				</tr>
					<%@schedules.each do |schedule|%>
				 		<%=render schedule, sclass: @sclass%>
					<%end%>
			</table>
					<%=will_paginate @schedules%>
			</div>
		</div>
  </div>
  <footer>
    
  </footer>
</div>
<script>
$(document).ready(function(){
		var i;
	$("i[id^='schedule-content']").on('click', function(){
		i = $(this).attr('id').split('-')[2];
		$("#schedule-cell-"+ i).addClass('hidden');
		$("#schedule-form-"+ i).removeClass('hidden');
	});
});
</script>