<%=render 'teachers/sidebar'%>
<div class="main">
  <%=render 'layouts/header', notifications: current_user.notifications.where(read: false)%>
  <div class="main-content">
    <h1>Trọng số đánh giá điểm quá trình</h1>
    <table class="table table-hover" style="width:100%" border="1" margin="center">
    <%=render 'form'%>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#pcModal">Thêm thành phần điểm</button>
    <tr>
      <td><b>#</b></td>
      <td><b>Nội dung</b></td>
      <td><b>Trọng số</b></td>
      <td><b>Công cụ</b></td>
    </tr>
    <%=form_tag sclass_update_ratio_path(@sclass) do %>
      <%@point_components.each_with_index do |pc, index| %>
        <%=render pc, index: index%>
      <%end%>
    </table>
        <%=submit_tag 'Cập nhật', class: 'btn btn-primary' %>
    <%end%>
  </div>
  <footer>
  </footer>
</div>