	<tr id="score-table-<%=score_table.id%>">
		<td><%=score_table.title%></td>
		<td><%=score_table.point_component.content %></td>
		<td><%= link_to 'Chi tiết', sclass_score_table_path(@sclass, score_table)%>| <%= link_to 'Xóa', sclass_score_table_path(@sclass, score_table), method: 'delete', data: {confirm: 'Bạn chắc chắn muốn xóa bảng điểm này?'}%></td>
	</tr>