<%=render 'teachers/sidebar'%>
<div class="main">
  <%=render 'layouts/header', notifications: current_user.notifications.where(read: false)%>
  <div class="main-content">
    <ul class="nav nav-tabs" role="tablist">
      <li><%= link_to 'Bảng điểm cuối kì', sclass_learnings_path(@sclass) %></li>
      <li class="active"><%= link_to 'Bảng điểm thành phần', sclass_score_tables_path(@sclass) %></li>
    </ul>
    <h1>Bảng điểm</h1>
    <%if @score_tables.empty? %>
      <p>Chưa có bảng điểm nào</p>
    <%else%>
        <table class="table table-hover" style="width:100%" border="1" margin="center">
          <tr>
            <td><b>Tiêu đề</b></td>
            <td><b>Loại điểm</b></td>
            <td><b>Công cụ</b></td>
          </tr>
          <% @score_tables.each do |st|%>
            <%=render st %>
          <% end %>
        </table>
    <%end%>
    <%=render 'form', score_components: @score_components %>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#scoreModal">Tạo bảng điểm</button>
  </div>
  <footer>
  </footer>
</div>