<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-sm-2 sidebar">
			<%=render 'teachers/sidebar' %>
		</div>
		<div class="col-sm-9 main">
		<h1><%=@score_table.title%></h1>
			<table class="table table-hover" style="width:100%" border="1" margin="center">
			 <tr>
				  <td><b>Sinh viên</b></td>
				  <td><b>MSSV</b></td>
				  <td><b>Điểm</b></td>
				  <td><b>Ghi chú</b></td>
				</tr>
				<%=form_tag sclass_update_score_table_path(@sclass),authenticity_token: true do%>
					<%@score_table.points.each do |p|%>
				 		<%=render 'point', point: p%>
					<%end%>
			</table>
					<%=submit_tag 'Update', class: 'btn btn-primary'%>
				<%end%>
		</div>
	</div>
</div>