<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><font color="black">Edit assignment</font></h4>
      </div>
      <div class="modal-body">
		<%=form_for(mini_work,url: edit_mini_work_path(mini_work)) do |f| %>
			<div style="display:inline-block;">
				<%= f.label :sclass_id%>
				<%=f.collection_select :sclass_id,@sclasses,:id,:sclass_id, prompt: true, class: 'form-control' %>

				<%=f.label :name%>
				<%=f.text_field :name, class:'form-control'%>

				<%=f.label :ratio%>
				<%=f.select :ratio, @ratios,{}, class:'form-control'%>%

				<%=f.label :content%>
				<%=f.text_area :content, class:'form-control'%>

				<%=f.label :deadline%>
				<%= f.datetime_select :deadline, class:'form-control' %>
			</div>
				<%=f.submit "Save", class:'btn btn-primary'%>
		<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
