<tr>
	<td><%=sclass.sclass_id%></td>
	<td><%=sclass.subject.name%></td>
	<td><%=sclass.teacher.name%></td>
	<td><%=link_to 'student list', '#'%></td>
	<td><%=link_to "remove", sclass, method: :delete%></td>
<tr>