  <!-- Modal -->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create new test</h4>
      </div>
      <div class="modal-body">
        <%=form_for(Test.new) do |f|%>
          <%=f.label :name, "Title"%>
          <%= f.text_field :name, {class: 'form-control'} %>

          <%=f.label :time, "Time"%>
          <%=f.text_field :time, {class: 'form-control'} %>

          <%=f.submit "Create new test", class:"btn btn-primary"%>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
