		<table class="table table-hover" style="width:100%" border="1" margin="center">
		<tr>
		  <td><b>Name</b></td>
		  <td><b>Student_id</b></td>
		  <td><b>Missed</b></td>
 		  <td><b>Missing</b></td>
 		</tr>
 		<%=form_tag('/submit_rollup') do%>
			<%=hidden_field_tag 'class_id', @sclass.id%>
			<%@students.each do |s|%>
				<%=render 'rollup/student', student: s%>
			<%end%>
		</table>
		<%=submit_tag "Submit", class: "btn btn-primary"%>
		<%end%>
<%=render 'sclasses/form'%>
