<%=form_tag('/submit_rollup') do%>
	<%=hidden_field_tag 'class_id', @sclass.id%>
	<ol>
	<%@students.each do |s|%>
		<li><%=render s%>
		<%= check_box_tag s.id, :attend%>
		<%end%>
		</li>
	</ol>
	<%=submit_tag "Submit"%>
<%end%>