<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-btn ">
      <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
        <span class="sr-only">Toggle Navigation</span>
        <i class="fa fa-bars icon-nav"></i>
      </button>
    </div>
    <div id="navbar-menu" class="navbar-collapse collapse">
      <form class="navbar-form navbar-left hidden-xs">
        <div class="input-group">
          <input type="text" value="" class="form-control" placeholder="Tìm kiếm...">
          <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
            <i class="lnr lnr-alarm"></i>
            <span class="badge bg-danger"><%=notifications.count%></span>
          </a>
          <ul class="dropdown-menu notifications">
          <%if notifications.empty? %>
            <li>Không có thông báo mới nào</li>
          <%else%>
            <%notifications.order(created_at: :desc).each do |noti|%>
              <li><%= link_to noti.content, noti.link+"?noti_id=#{noti.id}"%></li>
            <%end%>
          <%end%>
            <li><%=link_to 'Xem tất cả', notifications_path%></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Basic Use</a></li>
            <li><a href="#">Working With Data</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Troubleshooting</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <%=link_to '#', {class: 'data-toggle', 'data-toggle' => 'dropdown'} do%>
            <%=image_tag 'user.png', class: 'img-circle'%>
            <span><%= current_user.name%></span>
            <i class="icon-submenu lnr lnr-chevron-down"></i>
          <%end%>
          <ul class="dropdown-menu">
            <li><%= link_to current_user.class == Teacher ? teacher_path(current_user) : student_path(current_user) do%>
                <i class="lnr lnr-user"></i>
                <span>Trang cá nhân</span>
              <%end%>
            </li>
            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
            <li><%=link_to logout_path, method: 'delete' do%>
              <i class="lnr lnr-exit"></i>
              <span>Đăng xuất</span>
              <%end%>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>